<%= turbo_frame_tag :results do %>
  <div data-controller="datatables">
   <div class="table-responsive">
    <table id="adusers" class="table table-bordered table-striped" role="datatable">
      <thead>
        <tr>
          <th><%= t('attributes.sn') %></th>
          <th><%= t('attributes.givenname') %></th>
          <th><%= t('attributes.ort') %></th>
          <th><%= t('attributes.plz') %></th>
          <th><%= t('attributes.streetaddress') %></th>
          <th><%= t('attributes.department') %></th>
          <th><%= t('attributes.company') %></th>
          <th><%= t('attributes.mail') %></th>
          <th><%= t('attributes.telephonenumber') %></th>
          <th class="notvisible"><%= t('attributes.facsimiletelephonenumber') %></th>
          <th class="notvisible"><%= t('attributes.mobile') %></th>
          <th class="notvisible"><%= t('attributes.samaccountname') %></th>
          <th class="notvisible"><%= t('attributes.userprincipalname') %></th>
          <th class="notvisible"><%= t('attributes.extensionattribute15') %></th>
        </tr>
      </thead>
      <tfoot class="search">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <% @ad_users.each do |ad_user| %>
          <%= content_tag(:tr) do %>
            <td><%= ad_user.sn %></td>
            <td><%= ad_user.givenname %></td>
            <td><%= ad_user.l %></td>
            <td><%= ad_user.postalcode %></td>
            <td><%= ad_user.streetaddress %></td>
            <td><%= ad_user.department %></td>
            <td><%= ad_user.company %></td>
            <td><%= ad_user.mail %></td>
            <td><%= ad_user.telephonenumber %></td>
            <td><%= ad_user.facsimiletelephonenumber %></td>
            <td><%= ad_user.mobile %></td>
            <td><%= ad_user.samaccountname %></td>
            <td><%= ad_user.username %></td>
            <td><%= ad_user.extensionattribute15 %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>
<% end %>
